h1{
  color :red;
  text-align: center;
}

.container{
  width:400px;
  background-image: linear-gradient(to top left, blue, orange);
  opacity: .7;
  color: white;
  font-family: verdana, sans-serif;
  font-size:10px;

  margin-top: 30px;
}

#citytext {
  width:400px;
  padding-top:45px;
  font-size:2.7em;
  text-align: center;
}

#currdate {
  width:400px;
  padding-top:10px;
  text-align: center;
}

#currtemp {
  width:400px;
  padding:15px 0;
  font-size:4.2em;
  text-align: center;
}

.days {
  width:400px;
  padding:10px 0 15px 20px;
  font-size:1.5em;
  margin: 0 auto;
  border-bottom: 1px solid #efa99b;
}

.info {
  padding: 10px 0;
}

.iconimg {
  height:30px;
  background-repeat: no-repeat;
}

.day {
  text-align: center;
  padding-right: 15px;
}

.iconimg {
  text-align: center;
  padding-right: 15px;
}

.high {
  text-align: center;
  padding-right: 15px;
}

.low {
  text-align: center;
  padding-right: 15px;
}

.col-xs-3 {
  text-align: center;
}
